<div id='search'>
  <h1>Search</h1>
  <!-- nav below only includes landing & search; consider adding signout & nav to your profile -->
  <nav class="navigation">
    <ul>
      <li>
        <a href="#/landing">Head back to the main page!</a>
      </li>
      <li>
        <a href="#/profile">Head back to your profile!</a>
      </li>
    </ul>
  </nav>

<div>
  <p> Enter your search criteria below!</p>
  <form  ng-submit='getAllUsers()'>
    <input type='text' ng-model='search.price' placeholder="Desired Price " />
    <input type='text' ng-model='search.zip' placeholder="Zip " />
    <button type='submit'> Submit</button>
  </form>
  <br />
  <div>
    <ul>
      <li ng-repeat="users in usersAry|filter:search">
        {{data.users}}
      </li>
    </ul>
  </div>
</div>
