<div id='signup'>
  <h1>signup</h1>
  <form name='signupForm' ng-submit='signup()' id='signupForm'>
    <fieldset>
      <legend>Sign Up User</legend>
      <label> Username: </label>
      <input type='text' ng-model='user.username' /> <br />
      <label>Password:</label>
      <input type="password" ng-model='user.password' /> <br />
      <label> Name: </label>
      <input type="text" ng-model='user.name' /> <br />
      <label> Address: </label>
      <input type="text" ng-model='user.address' /> <br />
      <label> Zip Code: </label>
      <input type="text" ng-model='user.zip' /> <br />
      <label>User Type:</label>
      <select name='userType' form='signupForm' ng-model='user.type'>
        <option value='Dog'>Dog</option>
        <option value='Dog Walker'>Dog Walker</option>
      </select> <br/>
      <label>Desired Price:</label>
      <input type='text' ng-model='user.price'> <br />
      <button>signup</button>
    </fieldset>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>



<h2>{{profile.name}}</h2>
<img src='profile.img' />
<ul>
  <!-- userType is either dog or walker -->
  <li>{{profile.userType}}</li>
  <li>{{profile.location}}</li>
  <!-- walkType is one of walk, jog, or run -->
  <li>{{profile.walkType}}</li>
  <!-- walkTime is one of morning, afternoon, or night -->
  <li>{{profile.walkTime}}</li>
</ul>
